Black and White. Abandoned. Japan. --ar 16:9.

1940's Cinema. Sat down perspective. Looking at projected screen. Black and White. Abandoned. Japan. --ar 16:9

1940's Cinema, Back of the cinema, Stood next to film projector, Projector is projecting at the screen, Perspective is Overlooking the cinema seating area, Looking half at the projector and half at rest of the room, Black and White, Abandoned, Japan, Black and White. Abandoned. --ar 16:9

 Looking into a storage closet from doorway, few empty shelves, dark lighting, Japan, Black and White. Abandoned. --ar 16:9

